<!DOCTYPE html>
<html lang="gl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | Enquisas Cocido</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('assets/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Enquisas Cocido</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    {{ app.user.username }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {#<li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuraci贸ns</a></li>
                    <li class="divider"></li>#}
                    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user-md fa-fw"></i>
                            Editar Perfil</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Pechar sesi贸n</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!-- li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li -->
                    <li>
                        <a href="{{ path('enquisa_dashboard') }}"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('enquisa_reports') }}"><i class="fa fa-file-pdf-o fa-fw"></i> Informes</a>
                    </li>
                    <li>
                        <a href="{{ path('enquisa_upload') }}"><i class="fa fa-upload fa-fw"></i> Subir enquisa</a>
                    </li>
                    <li>
                        <a href="{{ path('enquisa_index') }}"><i class="fa fa-check-square fa-fw"></i> Enquisas</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"><i class="fa fa-files-o fa-fw"></i> Configuraci贸ns <span class="fa
                        arrow"></span></a>
                        <ul class="nav nav-second-level" aria-expanded="false">

                            {#<li>
                                <a href="{{ path('resposta_index') }}"><i class="fa fa-comments-o fa-fw"></i> Respostas</a>
                            </li>#}
                            <li>
                                <a href="{{ path('pregunta_index') }}"><i class="fa fa-question-circle fa-fw"></i> Preguntas</a>
                            </li>
                            <li>
                                <a href="{{ path('opcion_index') }}"><i class="fa fa-pencil-square fa-fw"></i>
                                    Opci贸ns</a>
                            </li>
                            <li>
                                <a href="{{ path('restaurante_index') }}"><i class="fa fa-cutlery fa-fw"></i>
                                    Restaurantes</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block pagetitle %}{% endblock %}</h1>

                    {% block body %}{% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('assets/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('assets/dist/js/sb-admin-2.js') }}"></script>
{% endblock %}

</body>

</html>
