{% extends 'report.html.twig' %}

{% block title %}Informe do restaurante {{ restaurante.nome }}{% endblock %}

{% block pagetitle %}Informe do restaurante {{ restaurante.nome }}{% endblock %}

{% block body %}

    <table width="720" align="center" cellpadding="10">
        <tr>
            <td align="right"><strong>Total enquisas:</strong></td>
            <td align="right">{{ total }}</td>
        </tr>
        <tr>
            <td align="right"><strong>Total restaurantes:</strong></td>
            <td align="right">{{ total_restaurantes }}</td>
        </tr>
        <tr>
            <td align="right"><strong>{{ restaurante.nome }}:</strong></td>
            <td align="right">{{ total_enquisas }}</td>
        </tr>
    </table>

    <br/><br/>


    {% for pregunta in preguntas %}
        <table width="720" align="center">
        <thead>
        <tr>
            <th colspan="2" align="center">
                <strong>{{ pregunta.texto }}</strong>
            </th>
        </tr>
        <tr>
            <th align="center">
                <strong>{{ restaurante.nome }}</strong>
            </th>
            <th align="center">
                <strong>Resultados xerais</strong>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td align="center">
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('enquisa_piechart', { 'qid': pregunta.id, 'rid': restaurante.id, 'style': 'VividTheme' })
                }}"/>
            </td>
            <td align="center">
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('enquisa_piechart', { 'qid': pregunta.id, 'rid': 0, 'style': 'UniversalTheme'
                    })
                    }}"/>
            </td>
        </tr>
        </tbody>
        </table>
        <br/>
    {% endfor %}


{% endblock %}